{% extends 'base.html' %}
{% load static %}
{% load analysys_tags %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %} " />
    <script src="{% static 'leaflet/leaflet.js' %}"></script>
    <script src="{% static 'js/lightbox-2.6.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/lightbox.css' %}">
    <style>
        #map { height: 600px; }
    </style>
    <script type="text/javascript">
        $(document).ready(function() {
            $(document).ready(function(){
                $("[rel=tooltip]").tooltip({ placement: 'right'});
            });
            $("#station").on('change', function() {
                var pk = $("#station option:selected").attr('pk');
                var periodo = $("#periodo option:selected").attr('pk');
                location.href = '/view/diagrammi/details/' + pk + "/" + periodo + "/"
            });
            $("#periodo").on('change', function() {
                var pk = $("#station option:selected").attr('pk');
                var periodo = $("#periodo option:selected").attr('pk');
                location.href = '/view/diagrammi/details/' + pk + "/" + periodo + "/"
            });
        });
    </script>
{% endblock extra_head %}
{% block page_name %}Diagrammi climatici{% endblock %}
{% block breadcumb_items %}
    <li><a href="/">Home</a></li>
    <li><a href="/view/diagrammi/">Diagrammi Climatici</a></li>
    <li class="active">{{ station.stname }} {{ periodo }}</li>
{% endblock breadcumb_items %}
{% block page_legend %}
    <div class="well well-sm">
        <form role="form">
            <fieldset>
                <div class="form-group">
                    <label for="station">Cambia stazione meteo</label>
                    <select id="station" class="form-control">
                        {% for s in station_list %}
                            <option {% ifequal s.stname station.stname %}selected{% endifequal %} pk="{{ s.pk }}">{{ s.stname }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="periodo">Cambia periodo climatico</label>
                    <select id="periodo" class="form-control">
                        {% for p in periodo_list %}
                            <option {% ifequal p.0 periodo %}selected{% endifequal %} pk="{{ p.0 }}">{{ p.0 }}</option>
                        {% endfor %}
                    </select>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock page_legend %}
{% block main %}
    <div class="col-md-9 col-md-9 col-xs-9 col-sm-9 visible-lg visible-md visible-sm visible-xs">
        <div class="page-header">
            <h1>Diagrammi climatici <small>{{ station.stname }} {{ periodo }}</small></h1>
        </div>
        <br>
        <div class="row">
            <div class="col-md-5 col-md-5 col-xs-5 col-sm-5 visible-lg visible-md visible-sm visible-xs">
                <div id="map" style="width: 100%; height: 250px"></div>
            </div>
            <div class="col-md-4 col-md-4 col-xs-4 col-sm-4 visible-lg visible-md visible-sm visible-xs">
                <div class="vcard pull-left" style="width: 450px">
                    <ul>
                        <li class="v-heading">
                            <span class="item-key">Codice Stazione</span>
                            <div class="vcard-item">{{ station.code }}</div>
                        </li>
                        <li>
                            <span class="item-key"><strong>Nome</strong></span>
                            <div class="vcard-item">{{ station.stname }}</div>
                        </li>
                        <li>
                            <span class="item-key"><strong>Data Attivazione</strong></span>
                            <div class="vcard-item">{{ station.commence|date:"d/m/Y" }}</div>
                        </li>
                        <li>
                            <span class="item-key"><strong>Stato</strong></span>
                            <div class="vcard-item">
                                {% if station.0.cease %}
                                    <i class="fa fa-circle" style="color: #cb4437"></i> Dismessa il {{ station.cease|date:"d/m/Y" }}
                                {% else %}
                                    <i class="fa fa-circle" style="color: #79a038"></i>
                                {% endif %}
                            </div>
                        </li>
                        <li>
                            <span class="item-key"><strong>Descrizione</strong></span>
                            <div class="vcard-item">{{ station.description }}</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% regroup dataidx by climate_index.type as indici_list %}
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            {% if charts %}
                <li class="active"><a href="#grafico" data-toggle="tab">Diagramma climatico</a></li>
            {% endif %}
            <li {% if not charts %}class="active"{% endif %} ><a href="#tabelle" data-toggle="tab">Tabelle indici climatici</a></li>
            <li><a href="#estremi" data-toggle="tab">Tabelle estremi climatici</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            {% if charts %}
                <div class="tab-pane active" id="grafico">
                    <div class="row text-center" style="padding-top: 10px;">
                        {% for c in charts %}
                            <div class="col-md-12">
                                <div class="panel panel-info">
                                    <div class="panel-heading">Distribuzione </div>
                                    <div class="panel-body">
                                        <a href="{% url 'get_chart_by_id' c.id %}" data-lightbox="image-1" title="Chart1">
                                            <img src="{% url 'get_chart_by_id' c.id %}" alt="" class="img-thumbnail img-responsive" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <div class="tab-pane {% if not charts %}active{% endif %}" id="tabelle">
                <div class="row" style="padding-top: 10px;">
                    <div class="col-md-12 col-md-12 col-xs-12 col-sm-12 visible-lg visible-md visible-sm visible-xs">

                        {% for idc in indici_list %}
                            <table class="table table-striped">
                                <thead>

                                <tr>
                                    <th>{{ idc.grouper|capfirst }}</th>
                                    <th>Gen</th>
                                    <th>Feb</th>
                                    <th>Mar</th>
                                    <th>Apr</th>
                                    <th>Mag</th>
                                    <th>Giu</th>
                                    <th>Lug</th>
                                    <th>Ago</th>
                                    <th>Set</th>
                                    <th>Ott</th>
                                    <th>Nov</th>
                                    <th>Dic</th>
                                    <th>Annua</th>
                                </tr>

                                </thead>
                                <tbody>
                                {% for d in idc.list %}
                                    {% if d.gen or d.feb or d.mar or d.apr or d.mag or d.giu or d.lug or d.ago or d.sett or d.ott or d.nov or d.div or d.annua %}
                                    <tr>
                                        <td>{{ d.climate_index.name }}
                                            {% ifequal d.nota '*' %}
                                                <a href="#" rel="tooltip" data-toggle="tooltip" title="" data-original-title="{{ d.station.note_omogen }}"><i class="fa fa-info-circle"></i></a>
                                            {% endifequal %}
                                        </td>
                                        <td>{{ d.gen|floatformat }}</td>
                                        <td>{{ d.feb|floatformat }}</td>
                                        <td>{{ d.mar|floatformat }}</td>
                                        <td>{{ d.apr|floatformat }}</td>
                                        <td>{{ d.mag|floatformat }}</td>
                                        <td>{{ d.giu|floatformat }}</td>
                                        <td>{{ d.lug|floatformat }}</td>
                                        <td>{{ d.ago|floatformat }}</td>
                                        <td>{{ d.sett|floatformat }}</td>
                                        <td>{{ d.ott|floatformat }}</td>
                                        <td>{{ d.nov|floatformat }}</td>
                                        <td>{{ d.dic|floatformat }}</td>
                                        <td>{{ d.annua|floatformat }}</td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="estremi">
                <div class="row" style="padding-top: 10px;">
                    <div class="col-md-12 col-md-12 col-xs-12 col-sm-12 visible-lg visible-md visible-sm visible-xs">
                        {% regroup dataext by climate_index.resolution as estremi_list %}
                        {% for idc in estremi_list %}
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>{{ idc.grouper|capfirst }}</th>
                                    <th>Gen</th>
                                    <th>Feb</th>
                                    <th>Mar</th>
                                    <th>Apr</th>
                                    <th>Mag</th>
                                    <th>Giu</th>
                                    <th>Lug</th>
                                    <th>Ago</th>
                                    <th>Set</th>
                                    <th>Ott</th>
                                    <th>Nov</th>
                                    <th>Dic</th>
{#                                    {% if idc.grouper == 'mensili' %}#}
{#                                        <th>Annua</th>#}
{#                                        <th>DGF</th>#}
{#                                        <th>MAM</th>#}
{#                                        <th>GLA</th>#}
{#                                        <th>SON</th>#}
{#                                    {% endif %}#}
                                </tr>
                                </thead>
                                <tbody>
                                {% for d in idc.list %}
                                    <tr>
                                        <td>{{ d.climate_index.name }}
                                        </td>
                                        <td>{{ d.gen }}<br><h6><small>{{ d.gen_data|dateformat }}</small></h6></td>
                                        <td>{{ d.feb }}<br><h6><small>{{ d.feb_data|dateformat }}</small></h6></td>
                                        <td>{{ d.mar }}<br><h6><small>{{ d.mar_data|dateformat }}</small></h6></td>
                                        <td>{{ d.apr }}<br><h6><small>{{ d.apr_data|dateformat }}</small></h6></td>
                                        <td>{{ d.mag }}<br><h6><small>{{ d.mag_data|dateformat }}</small></h6></td>
                                        <td>{{ d.giu }}<br><h6><small>{{ d.giu_data|dateformat }}</small></h6></td>
                                        <td>{{ d.lug }}<br><h6><small>{{ d.lug_data|dateformat }}</small></h6></td>
                                        <td>{{ d.ago }}<br><h6><small>{{ d.ago_data|dateformat }}</small></h6></td>
                                        <td>{{ d.sett }}<br><h6><small>{{ d.sett_data|dateformat }}</small></h6></td>
                                        <td>{{ d.ott }}<br><h6><small>{{ d.ott_data|dateformat }}</small></h6></td>
                                        <td>{{ d.nov }}<br><h6><small>{{ d.nov_data|dateformat }}</small></h6></td>
                                        <td>{{ d.dic }}<br><h6><small>{{ d.dic_data|dateformat }}</small></h6></td>
{#                                        {% if idc.grouper == 'mensili' %}#}
{#                                            <td>{{ d.annua|floatformat }}<br><h6><small>{{ d.annua_data|dateformat }}</small></h6></td>#}
{#                                            <td>{{ d.inverno|floatformat }}<br><h6><small>{{ d.inverno_data|dateformat }}</small></h6></td>#}
{#                                            <td>{{ d.primavera|floatformat }}<br><h6><small>{{ d.primavera_data|dateformat }}</small></h6></td>#}
{#                                            <td>{{ d.estate|floatformat }}<br><h6><small>{{ d.estate_data|dateformat }}</small></h6></td>#}
{#                                            <td>{{ d.autunno|floatformat }}<br><h6><small>{{ d.autunno_data|dateformat }}</small></h6></td>#}
{#                                        {% endif %}#}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script>
        var osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
		        osmAttrib = '@ PAT Climatrentino ',
		        osm = L.tileLayer(osmUrl, {maxZoom: 18, attribution: osmAttrib});
                var map = L.map('map').addLayer(osm);

        L.tileLayer('http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png', {
            maxZoom: 18,
            attribution: ''
        }).addTo(map);


        L.marker([{{ station.latitude }},{{ station.longitude }}]).addTo(map)
                .bindPopup("<b>{{ station.code }}</b><br />{{ station.stname }}</b><br />Coordinate: {{ station.latitude }}, {{ station.longitude }} ").openPopup();

        var popup = L.popup();

        setTimeout(function(){
            map.setView([{{ station.latitude }},{{ station.longitude }}], 12);
        },500);

    </script>
    <!-- /.container -->
{% endblock main %}