{% extends 'base.html' %}
{% load static %}
{% load analysys_tags %}
{% block page_name %}Mappe climatiche{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %} " />
    <script src="{% static 'leaflet/leaflet.js' %}"></script>
    <style>
        #map { height: 600px; }
    </style>
    <script type="application/javascript">
        if (!String.format) {
            String.format = function(format) {
                var args = Array.prototype.slice.call(arguments, 1);
                return format.replace(/{(\d+)}/g, function(match, number) {
                    return typeof args[number] != 'undefined'
                            ? args[number]
                            : match
                            ;
                });
            };
        }
        legend_url_default = '{% settings_value "GEOSERVER_URL" %}/wms?REQUEST=GetLegendGraphic&VERSION=1.0.0' +
                '&FORMAT=image/png&WIDTH=20&HEIGHT=20&LAYER={0}{1}{2}&STYLE={3}&' +
                'LEGEND_OPTIONS=bgColor:0xf5f5f5;&EXCEPTIONS=application/json'
        download_url_default = 'export/{0}/{1}/{2}/'

        select_switch = function(type, opt2idx){
            var myopt = $("#layerperiod option");
            var myopt2 = $("#layermonth option");
            var id = 0 || opt2idx;
            if (type == 'r') {
                myopt.slice(0,3).each(function(index, value){
                    value.hidden=true
                });
                myopt[3].hidden=false;
                myopt[3].selected=true;
                myopt2.slice(-4).each(function(index, value){
                   value.hidden = true;
                });
            } else {
                myopt.slice(0, 3).each(function (index, value) {
                    value.hidden = false
                });
                myopt[3].hidden = true;
                myopt[id].selected = true;
                myopt2.slice(-4).each(function(index, value){
                   value.hidden = false;
                });
            }
        };

        $(document).ready(function() {
            $('#layertype').on('change', function(){
                var val1 = $(this, "option:selected").val();
                typeof b !== "undefined" ? b : (b = "Hello!");
                var optidx = $("#layerperiod option:selected").index();
                optidx = optidx !== 3 ? optidx : 0;
                select_switch(val1, optidx);
            });
            $('#mapselector select').on('change', function() {
                var type = $("#layertype option:selected").val();
                var period = $("#layerperiod option:selected").val();
                var month = $("#layermonth option:selected").val();
                if (type == 't'){
                    style = 'Temperature';
                    legend_url = String.format(legend_url_default, type, period, month, style);
                    legend_title = 'Temperatura [°C]';
                } else if (type == 'p'){
                    var style = $("#layermonth option:selected").attr('layerstyle');
                    legend_url = String.format(legend_url_default, type, period, month, style+"Legend");
                    legend_title = 'Precipitazione [mm]';
                } else if (type == 'r'){
                    var style = String.format('{0}solare_{1}{2}', type, period, month);
                    tmplegend_url = '{% settings_value "GEOSERVER_URL" %}/wms?REQUEST=GetLegendGraphic&VERSION=1.0.0' +
                                    '&FORMAT=image/png&WIDTH=20&HEIGHT=20&LAYER={0}{1}{2}&STYLE={0}solare_{1}{2}&' +
                                    'LEGEND_OPTIONS=bgColor:0xf5f5f5;&EXCEPTIONS=application/json';
                    legend_url = String.format(tmplegend_url, type, period, month);
                    legend_title = 'Radiazione [MJm<sup>-2</sup>]';
                }
                {#TODO disable hard coded choice of month and year for radiazione solare #}

                layer.setParams({
                    layers: String.format('{0}{1}{2}:{0}{1}{2}', type, period, month),
                    format: 'image/png',
                    transparent: true,
                    styles: style
                });
                $("#geotiff").attr('href',String.format(download_url_default,type, period, month));
                $("#legend").attr('src', legend_url);
                $("#legend-title").html(legend_title);
                $("#map-title").html(
                       String.format('{0} {1} {2} {3}', legend_title.split(' ')[0],
                        $("#layermonth option:selected").html(),
                        $("#layerperiod option:selected").html(),
                        legend_title.split(' ')[1]
                       )
                );
            });
        });
    </script>
{% endblock extra_head %}

{% block breadcumb_items %}
    <li><a href="/">Home</a></li>
    <li class="active">Mappe climatiche</li>
{% endblock breadcumb_items %}

{% block page_legend %}
    <div class="well well-sm">
        <div id="legend-title"></div>
        <img id="legend" />
    </div>
{% endblock page_legend %}

{% block main %}
    <div class="col-md-9 col-md-9 col-xs-9 col-sm-9 visible-lg visible-md visible-sm visible-xs">
    <div class="page-header">
        <h1>Mappe climatiche - <small id="map-title">Precipitazione 1960-1990 Gennaio</small></h1>
    </div>
    <div class="bs-callout bs-callout-info">
        <p>
            Le mappe mostrano la distribuzione media delle precipitazioni e della temperatura sul
            Trentino per i <a href="/glossario#trentenni"><i>trentenni di riferimento</i></a> 1961-1990, 1971-2000 e 1981-2010, della radiazione solare globale per il periodo di riferimento 2004-2012, e del vento per il decennio 2004-2013.
            Selezionare dal menu il parametro (temperatura, precipitazione, radiazione o vento), il trentennio di riferimento e la base temporale (mese, stagione o anno).<br>
            Le mappe di temperatura sono elaborate con la tecnica di spazializzazione <a href="/glossario#optimalinterpolation/"><i>Optimal Interpolation</i></a> mentre le precipitazioni con la tecnica
            <a href="/glossario#kriging/"><i>Kriging</i></a>. Le mappe di radiazione solare sono ottenute grazie ad un
            modello di radiazione e alla tecnica di spazializzazione <a href="/glossario#kriging/"><i>Kriging</i></a>
            (vedi la <a href="{% static 'Relazione_Atlante_Solare_Trentino.pdf' %}"><i>Relazione finale</i></a> per ulteriori dettagli).
            Le mappe di vento sono state realizzate grazie ad una catena di modelli numerici (vedi la <a href="{% static 'Relazione_Atlante_Eolico_Trentino.pdf' %}"><i>Relazione finale</i></a> per ulteriori dettagli).
        </p>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form-inline" role="form" id="mapselector">
                <div class="form-group">
                    <label class="sr-only" for="layertype">Variabile</label>
                    <select class="form-control" id="layertype">
                        {% for t in type %}
                            <option value="{{ t.0 }}">{{ t.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="layerperiod">Periodo normale</label>
                    <select class="form-control" id="layerperiod">
                        {% for p in period %}
                            <option value="{{ p }}">{{ p }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="layermonth">Media/Somma</label>
                    <select class="form-control" id="layermonth">
                        {% for m in month %}
                            <option value="{{ m.0 }}" layerstyle="{{ m.2 }}">{{ m.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a href="" class="btn btn-primary" id="geotiff" target="_blank">Scarica immagine</a>
            </form>
        </div>
    </div>


    <div id="map" style="width: 100%; height: 600px"></div>
</div>
    <script>
        // Hide the period does not exist for temperature and precipitations
        $("#layerperiod option")[3].hidden=true;

        // Load openstreetmap
        var osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                osmAttrib = '{% settings_value "MAPS_ATTRIBUTION_OSM" %}',
                osm = L.tileLayer(osmUrl, {maxZoom: 18, attribution: osmAttrib});
        var map = L.map('map').addLayer(osm);

        L.tileLayer('{% settings_value "GEOSERVER_URL" %}/gwc/service/tms/1.0.0/mpba%3Abasemap@EPSG%3A900913@png/{z}/{x}/{y}.png', {
            tms: true,
            attribution: '{% settings_value 'MAPS_ATTRIBUTION_FBK' %}'
        }).addTo(map);

        var type = $("#layertype option:selected").val();
        var period = $("#layerperiod option:selected").val();
        var month = $("#layermonth option:selected").val();
        if (type == 't'){
            // Temperatures Maps
            style = 'Temperature'
            legend_url = String.format(legend_url_default, type, period, month, style);
            legend_title = 'Temperatura [°C]';
        } else if (type == 'p'){
            // Rain Maps
            var style = $("#layermonth option:selected").attr('layerstyle');
            legend_url = String.format(legend_url_default, type, period, month, style+"Legend");
            legend_title = 'Precipitazione [mm]';
        } else if (type == 'r'){
            // Radiation Maps
            var style = String.format('{0}solare_{1}{2}', type, period, month);
            tmplegend_url = '{% settings_value "GEOSERVER_URL" %}/wms?REQUEST=GetLegendGraphic&VERSION=1.0.0' +
                                    '&FORMAT=image/png&WIDTH=20&HEIGHT=20&LAYER={0}{1}{2}&STYLE={0}solare_{1}{2}&' +
                                    'LEGEND_OPTIONS=bgColor:0xf5f5f5;&EXCEPTIONS=application/json';
            legend_url = String.format(tmplegend_url, type, period, month);
            legend_title = 'Radiazioni [MJm<sup>-2</sup>]';
        }
        layer = L.tileLayer.wms("{% settings_value "GEOSERVER_URL" %}/mpba/wms/", {
            layers: String.format('{0}{1}{2}:{0}{1}{2}',type, period, month),
            format: 'image/png',
            transparent: true,
            styles: style
        }).addTo(map);
        $("#legend").attr('src', legend_url);
        $("#geotiff").attr('href',String.format(download_url_default,type, period, month));
        $("#legend-title").html(legend_title);
        $("#map-title").html(
                String.format('{0} {1} {2} {3}', legend_title.split(' ')[0],
                        $("#layermonth option:selected").html(),
                        $("#layerperiod option:selected").html(),
                        legend_title.split(' ')[1]
                )
        );

        setTimeout(function(){
            map.setView([46.0760556,11.1176091], 9);
        },500);
    </script>
{% endblock main %}