{% extends 'base.html' %}
{% load static %}

{% block page_name %}Tabelle indici{% endblock %}
{% block breadcumb_items %}
    <li><a href="/">Home</a></li>
    <li><a href="/view/indici/">Tabelle degli indici climatici</a></li>
    <li class="active">Temperatura media giornaliera</li>
{% endblock breadcumb_items %}

{% block page_legend %}
    <div class="well well-sm">
        <ul style="list-style: none">
            <li>
               <a href="{% url 'tabelle_indici_tmed_export' 'xls' %}" ><i class="fa fa-table" ></i> Scarica XLS</a>
            </li>
            <li>
                <a href="{% url 'tabelle_indici_tmed_export' 'pdf' %}" target="_blank"><i class="fa fa-file-text-o" ></i> Scarica PDF</a>
            </li>
        </ul>
    </div>
{% endblock page_legend %}
{% block main %}
            <div class="col-md-9 col-md-9 col-xs-9 col-sm-9 visible-lg visible-md visible-sm visible-xs">
                <div class="page-header">
                    <h1>Temperatura media giornaliera (&deg; C)</h1>
                </div>

                <table class="table table-striped" id="cstations">
                  <thead>
                    <tr>
                      <th>Stazione</th>
                      <th>Quota</th>
                      <th>Gen</th>
                      <th>Feb</th>
                      <th>Mar</th>
                      <th>Apr</th>
                      <th>Mag</th>
                      <th>Giu</th>
                      <th>Lug</th>
                      <th>Ago</th>
                      <th>Set</th>
                      <th>Ott</th>
                      <th>Nov</th>
                      <th>Dic</th>
{#                      <th >annua/th>#}
{#                      <th >inverno/th>#}
{#                      <th >primavera/th>#}
{#                      <th >estate/th>#}
{#                      <th >autunno/th>)#}
                    </tr>
                  </thead>
                  <tbody>

                    {% for t in tabella %}
                    <tr>
                      <td>{{ t.stazione }}</td>
                      <td>{{ t.quota|floatformat }}</td>
                      <td>{{ t.gen }}</td>
                      <td>{{ t.feb }}</td>
                      <td>{{ t.mar }}</td>
                      <td>{{ t.apr }}</td>
                      <td>{{ t.mag }}</td>
                      <td>{{ t.giu }}</td>
                      <td>{{ t.lug }}</td>
                      <td>{{ t.ago }}</td>
                      <td>{{ t.sett }}</td>
                      <td>{{ t.ott }}</td>
                      <td>{{ t.nov }}</td>
                      <td>{{ t.dic }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
    <!-- /.container -->
{% endblock main %}