{% extends 'base.html' %}
{% load static %}
{% load analysys_tags %}
{% block page_name %}Trend Anomalie{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %} " />
    <script src="{% static 'leaflet/leaflet.js' %}"></script>
    <style>
        #map { height: 600px; }
        i { font-size: 20px!important;}
    </style>
{% endblock extra_head %}

{% block breadcumb_items %}
    <li><a href="/">Home</a></li>
    <li class="active">Per distribuzioni statistiche</li>
{% endblock breadcumb_items %}

{% block page_legend %}
    <div class="well well-sm">
        <ul style="list-style: none">
            <li>
                <i class="wi-sprinkles"></i> Anomalia Precipitazioni
            </li>
            <li>
                <i class="wi-temp_avg"></i> Anomalia Temperature
            </li>
        </ul>
    </div>
{% endblock page_legend %}

{% block main %}
    <div class="col-md-9 col-md-9 col-xs-9 col-sm-9 visible-lg visible-md visible-sm visible-xs">
        <div class="page-header">
            <h1>Trend Anomalie per distribuzioni statistiche</h1>
        </div>
         <div class="bs-callout bs-callout-info">
            <p>L'analisi dei trend per distribuzioni statistiche mette a confronto la variazione della distrubuzione statistica calcolata per tre periodi di riferimento di trent'anni: 1961-1990, 1971-2000, 1981-2010..
             </p>
         </div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#lista" data-toggle="tab">Lista</a></li>
            <li><a href="#mappa" data-toggle="tab" id="mpl">Mappa</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane fade in active" id="lista">
                <div class="table-responsive">
                    <table class="table table-striped" id="cstations">
                        <thead>
                        <tr>
                            <th style="width: 20%">Codice</th>
                            <th style="width: 50%">Nome</th>
                            <th>Dati disponbili</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for station in stations %}
                            <tr>
                                <td>{{ station.code }}</td>
                                <td><span class="label label-default" style="font-size: 13px">{{ station.stname }}</span></td>
                                <td>

                                {% dati_anomalie_disponibili station type as dati %}
                                    {% if 14 in dati %}
                                        <i class="wi-sprinkles"></i>
                                    {% endif %}
                                    {% if 15 in dati %}
                                        <i class="wi-temp_avg"></i>
                                    {% endif %}

                                </td>
                                <td><a href="{% url 'trend_distr_stats_detail' station.pk %}"><i class="fa fa-folder-open pull-right" style="color: #428bca; font-size: 21px"></i></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="mappa">
                <div id="map" style="width: 100%; height: 600px"></div>
            </div>
        </div>
    </div>
    <script>
        var map = L.map('map')

        L.tileLayer('http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png', {
            maxZoom: 18,
            attribution: ''
        }).addTo(map);

        {% for station in stations %}
            L.marker([{{ station.latitude }}, {{ station.longitude }}]).addTo(map)
                    .bindPopup("<b>{{ station.code }}</b> - {{ station.stname }}<br /> \
                     <div>Dati disponbili: {% if station.diagramma_disponibile %}<i class='fa fa-bar-chart-o'></i>{% endif %} \
                        {% if station.tabella_disponibile %}<i class='fa fa-table'></i>{% endif %}</div>\
                    {% for periodo in station.periodo_disponibile_list %}  \
                        <li style='white-space: nowrap;'><a href='{% url 'diagrammi_climatici_details' station.pk periodo %}'>Diagramma {{ periodo }}</a></li>  \
                    {% endfor%}").openPopup();
        {% endfor %}

        $('#mpl').click(function(){
            setTimeout(function(){
                map.setView([46.0760556,11.1176091], 9);
            },500);
        })
    </script>
{% endblock main %}