{% extends 'base.html' %}
{% load analysys_tags %}
{% load static %}
{% periodi_climatici station.pk type as periodi %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/lightbox.css' %}" />
    <link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %} " />
    <script src="{% static 'js/lightbox-2.6.min.js' %}"></script>
    <script src="{% static 'leaflet/leaflet.js' %}"></script>
    <style>
        #map { height: 600px; }
        i { font-size: 16px!important; font-weight: bold}

    </style>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#station").on('change', function() {
                var pk = $("#station option:selected").attr('pk');
                $.ajax({
                    type: 'GET',
                    url: '/view/ajax_periodi_select/',
                    data: {'station_id': pk, 'tipi_grafici[]':[6,7]},
                    success: function(json) {
                        //alert($.parseJSON(json));
                        $("#periodo").empty();
                        $('#periodo').append("<option value=-->" + "Scegli un periodo" + "</option>" );
                        $.each(JSON.parse(json), function(i, v) {
                            $('#periodo').append("<option value=" + v['ids'] +">" + v['periodo'] + "</option>" );
                        });

                    }
                });
            });
            $("#periodo").on('change', function() {
                var periodo = $("#periodo option:selected").val();
                location.href = '/view/trend/anomalie/details/' + periodo + "/"
            });
            $('a[href="#info"]').on('shown.bs.tab', function (e) {
                map.setView([{{ station.latitude }},{{ station.longitude }}], 12);
            })
        });
    </script>
{% endblock extra_head %}
{% block page_name %}Anomalie Indici Climatici{% endblock %}
{% block breadcumb_items %}
    <li><a href="/">Home</a></li>
    <li><a href="{% url 'trend_anomalie_view' %}">Per località e indici medi</a></li>
    <li class="active">{{ station.stname }} {{ periodo }}</li>
{% endblock breadcumb_items %}
{% block page_legend %}
    <div class="well well-sm">
        {% for p in periodo_list %}
            {{ p.val }}
        {% endfor %}
        <form role="form">
            <fieldset>
                <div class="form-group">
                    <label for="station">Cambia stazione meteo</label>
                    <select id="station" class="form-control">
                        {% for s in station_list %}
                            <option {% ifequal s.stname station.stname %}selected{% endifequal %} pk="{{ s.pk }}">{{ s.stname }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="periodo">Cambia periodo climatico</label>
                    <select id="periodo" class="form-control">
                        {% periodi_climatici station.pk type as periodi %}
                        {% for per in periodi.items %}
                            <option value="{{ per.1 }}" {% ifequal per.0 periodo_climatico %}selected{% endifequal %}>
                                {{ per.0 }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock page_legend %}
{% block main %}
    <div class="col-md-9 col-md-9 col-xs-9 col-sm-9 visible-lg visible-md visible-sm visible-xs">
        <div class="page-header">
            <h1>Trend anomalie <small>{{ station.stname }} {{ periodo_climatico }}</small></h1>
        </div>
        <br>
        <div class="row">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#grafici" data-toggle="tab">Grafici</a></li>
                <li><a href="#info" data-toggle="tab">Info</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="grafici">
                    <div class="row text-center" style="padding-top: 10px;">
                        {% for chart in charts %}
                            {% if chart %}
                                <div class="col-md-6">
                                    <div class="panel panel-info">
                                        <div class="panel-heading"><i class="wi-{{ chart.variables.tipo_dato }}"></i> {{ chart.variables.tipo_dato|capfirst }} </div>
                                        <div class="panel-body">
                                            <a href="{% url 'get_chart_by_id' chart.id %}" data-lightbox="image-1" title="Chart1">
                                                <img src="{% url 'get_chart_by_id' chart.id %}" alt="" class="img-thumbnail img-responsive" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="bs-callout bs-callout-info">
                                    <h4>Informazione di servizio</h4>
                                    <p>Siamo spiacenti ma per la selezione che e' stata effettuata non e' disponibile un diagramma climatico.</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane" id="info">
                    {% with True as deffered_init %}
                        {% include 'climatlas/stazione_info_panel.html' %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
{% endblock main %}