{% extends 'base.html' %}
{% load analysys_tags %}
{% load static %}
{% periodi_climatici station.pk type as periodi %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/lightbox.css' %}" />
    <link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %} " />
    <script src="{% static 'js/lightbox-2.6.min.js' %}"></script>
    <script src="{% static 'leaflet/leaflet.js' %}"></script>
    <style>
        #map { height: 600px; }
        i { font-size: 16px!important; font-weight: bold}

    </style>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#station").on('change', function() {
                var pk = $("#station option:selected").attr('pk');
                location.href = '/view/trend/stats/distribution/details/' + pk + "/"
            });
            $("#intervallo").on('change', function() {
                var ids = $("#intervallo option:selected").attr('value');
                var idlist = ids.split('-');
                var mychart = $('img[mychart]');
                for (var i=0; i<idlist.length; i++){
                    $(mychart[i]).attr('src','/view/grafico/'+ idlist[i])
                }
                $('span[intervallo]').html($("#intervallo option:selected").html())
            });
            $('a[href="#info"]').on('shown.bs.tab', function (e) {
                map.setView([{{ station.latitude }},{{ station.longitude }}], 12);
            })
        });
    </script>
{% endblock extra_head %}
{% block page_name %}Anomalie Indici Climatici{% endblock %}
{% block breadcumb_items %}
    <li><a href="/">Home</a></li>
    <li><a href="{% url 'trend_distr_stats_view' %}">Per distribuzioni statistiche</a></li>
    <li class="active">{{ station.stname }}</li>
{% endblock breadcumb_items %}
{% block page_legend %}
    <div class="well well-sm">
        {% for p in periodo_list %}
            {{ p.val }}
        {% endfor %}
        <form role="form">
            <fieldset>
                <div class="form-group">
                    <label for="station">Cambia stazione meteo</label>
                    <select id="station" class="form-control">
                        {% for s in station_list %}
                            <option {% ifequal s.stname station.stname %}selected{% endifequal %} pk="{{ s.pk }}">{{ s.stname }}</option>
                        {% endfor %}
                    </select>
                    <label for="station">Seleziona intervallo</label>
                    {% intervalli_climatici station.pk type as intervalli %}
                    <select id="intervallo" class="form-control">
                        {% for i in intervalli %}
                            <option value="{{ i.ids }}">
                                {{ i.intervallo|capfirst }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

            </fieldset>
        </form>
    </div>
{% endblock page_legend %}
{% block main %}
    <div class="col-md-9 col-md-9 col-xs-9 col-sm-9 visible-lg visible-md visible-sm visible-xs">
        <div class="page-header">
            <h1>Distribuzioni statistiche <small>{{ station.stname }}</small></h1>
        </div>
        <br>
        <div class="row">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#grafici" data-toggle="tab">Grafici</a></li>
                <li><a href="#info" data-toggle="tab">Info</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="grafici">
                    <div class="row text-center" style="padding-top: 10px;">
                        {% intervalli_climatici station.pk type as interval %}

                        {% for chart in interval.0.idslist %}
                            {% if chart %}
                                {% with chart|get_dati_chart as grafico %}
                                    <div class="col-md-6">
                                        <div class="panel panel-info">
                                            <div class="panel-heading"><i class="wi-{{ grafico.tipo_dato }}"></i> {{ grafico.tipo_dato|capfirst }} <span intervallo>{{ grafico.intervallo|capfirst }}</span> </div>
                                            <div class="panel-body">
                                                <a href="{% url 'get_chart_by_id' chart %}" data-lightbox="image-1" title="Chart1">
                                                    <img mychart src="{% url 'get_chart_by_id' chart %}" alt="" class="img-thumbnail img-responsive" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% endwith %}
                            {% else %}
                                <div class="bs-callout bs-callout-info">
                                    <h4>Informazione di servizio</h4>
                                    <p>Siamo spiacenti ma per la selezione che e' stata effettuata non e' disponibile un diagramma climatico.</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane" id="info">
                    {% with True as deffered_init %}
                        {% include 'climatlas/stazione_info_panel.html' %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
{% endblock main %}