{% load static %}
<html>
<style>
    @page {
        size: a4 landscape;
        margin: 1.3cm;
            @frame footer {
    -pdf-frame-content: footerContent;
        bottom: 0.4cm;
        margin-left: 1.3cm;
        margin-right: 1cm;
        height: 1cm;
    }
    }
</style>
<body>
<table>
    <tr>
        <td><img src="{% static 'img/ProvinciadiTrento.jpg' %}" height="70" ></td>
        <td>

            <p style="text-align: center;  font-size: 18px; font-weight: bold">{{ title }}<br>{{ periodo_rif }}</p>
        </td>
        <td align="right"> <img src="{% static 'img/logo_pc.jpg' %}" height="60"></td>
    </tr>
</table>
<hr>
<table class="table table-striped">
    <thead>
    <tr style="background-color: #e3e3e3; padding-top: 5px;">
        <th >Stazione</th>
        <th style="text-align: right">Quota</th>
        <th style="text-align: right">Gen</th>
        <th style="text-align: right">Feb</th>
        <th style="text-align: right">Mar</th>
        <th style="text-align: right">Apr</th>
        <th style="text-align: right">Mag</th>
        <th style="text-align: right">Giu</th>
        <th style="text-align: right">Lug</th>
        <th style="text-align: right">Ago</th>
        <th style="text-align: right">Set</th>
        <th style="text-align: right">Ott</th>
        <th style="text-align: right">Nov</th>
        <th style="text-align: right">Dic</th>
        {% if estremo.resolution == 'mensili' %}
            <th style="text-align: right">Annua</th>
            <th style="text-align: right">DGF</th>
            <th style="text-align: right">MAM</th>
            <th style="text-align: right">GLA</th>
            <th style="text-align: right">SON</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>

    {% for t in tabella %}
        <tr style="padding-top: 5px">
            <td rowspan="2"  style="border-bottom: 1px solid #dddddd;">{{ t.station.stname }}</td>
            <td rowspan="2" style="text-align: right;border-bottom: 1px solid #dddddd;">{{ t.station.elevation|floatformat }}</td>
            <td  style="text-align: right">{{ t.gen|floatformat:"1" }}</td>
            <td  style="text-align: right">{{ t.feb|floatformat:"1" }}</td>
            <td  style="text-align: right">{{ t.mar|floatformat:"1" }}</td>
            <td  style="text-align: right">{{ t.apr|floatformat:"1" }}</td>
            <td  style="text-align: right">{{ t.mag|floatformat:"1" }}</td>
            <td style="text-align: right">{{ t.giu|floatformat:"1" }}</td>
            <td  style="text-align: right">{{ t.lug|floatformat:"1" }}</td>
            <td  style="text-align: right">{{ t.ago|floatformat:"1" }}</td>
            <td  style="text-align: right">{{ t.sett|floatformat:"1" }}</td>
            <td  style="text-align: right">{{ t.ott|floatformat:"1" }}</td>
            <td  style="text-align: right">{{ t.nov|floatformat:"1" }}</td>
            <td  style="text-align: right">{{ t.dic|floatformat:"1" }}</td>
            {% if estremo.resolution == 'mensili' %}
                <td  style="text-align: right">{{ t.annua|floatformat:"1" }}</td>
                <td  style="text-align: right">{{ t.inverno|floatformat:"1" }}</td>
                <td  style="text-align: right">{{ t.primavera|floatformat:"1" }}</td>
                <td  style="text-align: right">{{ t.estate|floatformat:"1" }}</td>
                <td  style="text-align: right">{{ t.autunno|floatformat:"1" }}</td>
            {% endif %}
        </tr>
        <tr style="padding-top: 5px">
            <td  style="text-align: right;border-bottom: 1px solid #dddddd;">{{ t.gen_data }}</td>
            <td  style="text-align: right;border-bottom: 1px solid #dddddd;">{{ t.feb_data }}</td>
            <td  style="text-align: right;border-bottom: 1px solid #dddddd;">{{ t.mar_data }}</td>
            <td  style="text-align: right;border-bottom: 1px solid #dddddd;">{{ t.apr_data }}</td>
            <td  style="text-align: right;border-bottom: 1px solid #dddddd;">{{ t.mag_data }}</td>
            <td style="text-align: right;border-bottom: 1px solid #dddddd;">{{ t.giu_data }}</td>
            <td  style="text-align: right;border-bottom: 1px solid #dddddd;">{{ t.lug_data }}</td>
            <td  style="text-align: right;border-bottom: 1px solid #dddddd;">{{ t.ago_data }}</td>
            <td  style="text-align: right;border-bottom: 1px solid #dddddd;">{{ t.sett_data }}</td>
            <td  style="text-align: right;border-bottom: 1px solid #dddddd;">{{ t.ott_data }}</td>
            <td  style="text-align: right;border-bottom: 1px solid #dddddd;">{{ t.nov_data }}</td>
            <td  style="text-align: right;border-bottom: 1px solid #dddddd;">{{ t.dic_data }}</td>
            {% if estremo.resolution == 'mensili' %}
                <td  style="text-align: right;border-bottom: 1px solid #dddddd;">{{ t.annua_data }}</td>
                <td  style="text-align: right;border-bottom: 1px solid #dddddd;">{{ t.inverno_data }}</td>
                <td  style="text-align: right;border-bottom: 1px solid #dddddd;">{{ t.primavera_data }}</td>
                <td  style="text-align: right;border-bottom: 1px solid #dddddd;">{{ t.estate_data }}</td>
                <td  style="text-align: right;border-bottom: 1px solid #dddddd;">{{ t.autunno_data }}</td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
<!-- /.container -->
<div id="footerContent">
    <b>Pagina <pdf:pagenumber></b>  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
       &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;@PAT-Climatrentino
</div>
</body>
</html>