{% extends 'base.html' %}
{% load static %}
{% load analysys_tags %}
{% block page_name %}Valori estremi{% endblock %}
{% block extra_head %}
{% endblock extra_head %}
{% block breadcumb_items %}
    <li><a href="/">Home</a></li>
    <li><a href="/view/estremi/">Tabelle dei valori estremi</a></li>
    <li class="active">{{ estremo.name }}</li>
{% endblock breadcumb_items %}
{% block menuleft %}
{% endblock %}
{% block main %}
    <div class="col-md-12 col-md-12 col-xs-12 col-sm-12 visible-lg visible-md visible-sm visible-xs">
        <div class="page-header">
            <h1>{{ estremo.name }}</h1>
        </div>
        <table class="table table-striped" id="cstations">
            <thead>
            <tr>
                <th style="width:150px;">Stazione</th>
                <th>Quota</th>
                <th>Gen</th>
                <th>Feb</th>
                <th>Mar</th>
                <th>Apr</th>
                <th>Mag</th>
                <th>Giu</th>
                <th>Lug</th>
                <th>Ago</th>
                <th>Set</th>
                <th>Ott</th>
                <th>Nov</th>
                <th>Dic</th>
                {% if estremo.resolution == 'mensili' %}
                    <th>Annua</th>
                    <th>DGF</th>
                    <th>MAM</th>
                    <th>GLA</th>
                    <th>SON</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for d in data %}
                <tr>
                    <td>{{ d.station.stname }}</td>
                    <td>{{ d.station.elevation|floatformat }}</td>
                    <td>{{ d.gen }}<br><h6><small>{{ d.gen_data|dateformat }}</small></h6></td>
                    <td>{{ d.feb }}<br><h6><small>{{ d.feb_data|dateformat }}</small></h6></td>
                    <td>{{ d.mar }}<br><h6><small>{{ d.mar_data|dateformat }}</small></h6></td>
                    <td>{{ d.apr }}<br><h6><small>{{ d.apr_data|dateformat }}</small></h6></td>
                    <td>{{ d.mag }}<br><h6><small>{{ d.mag_data|dateformat }}</small></h6></td>
                    <td>{{ d.giu }}<br><h6><small>{{ d.giu_data|dateformat }}</small></h6></td>
                    <td>{{ d.lug }}<br><h6><small>{{ d.lug_data|dateformat }}</small></h6></td>
                    <td>{{ d.ago }}<br><h6><small>{{ d.ago_data|dateformat }}</small></h6></td>
                    <td>{{ d.sett }}<br><h6><small>{{ d.sett_data|dateformat }}</small></h6></td>
                    <td>{{ d.ott }}<br><h6><small>{{ d.ott_data|dateformat }}</small></h6></td>
                    <td>{{ d.nov }}<br><h6><small>{{ d.nov_data|dateformat }}</small></h6></td>
                    <td>{{ d.dic }}<br><h6><small>{{ d.dic_data|dateformat }}</small></h6></td>
                    {% if estremo.resolution == 'mensili' %}
                        <td>{{ d.annua|floatformat }}<br><h6><small>{{ d.annua_data|dateformat }}</small></h6></td>
                        <td>{{ d.inverno|floatformat }}<br><h6><small>{{ d.inverno_data|dateformat }}</small></h6></td>
                        <td>{{ d.primavera|floatformat }}<br><h6><small>{{ d.primavera_data|dateformat }}</small></h6></td>
                        <td>{{ d.estate|floatformat }}<br><h6><small>{{ d.estate_data|dateformat }}</small></h6></td>
                        <td>{{ d.autunno|floatformat }}<br><h6><small>{{ d.autunno_data|dateformat }}</small></h6></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- /.container -->
{% endblock main %}