{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>ClimAtlas Data Upload Service</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script>
        $(window).load(function(){
            /*script js for loading image before page load*/
            $(".loading").delay(1000) /*to remove*/
            $(".loading").hide();
            $("#id_containerfluid").fadeIn("slow");/*show the container*/

        });

        jQuery(document).ready(function() {
            $('.navbar-link').tooltip({'placement':'bottom'}); /*enable tooltip bootstrap to all navbar-link class tags*/

        });
    </script>
</head>
<body style="max-width:640px; margin: 20px auto;">

<div class="loading" style="text-align: center">
    <img src="{% static 'images/load.gif' %}"/><p>Loading... please wait</p>
</div>

<div id="id_containerfluid">
    <h2 class="well">ClimAtlas Data Upload Service</h2>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}

    {% if task_progress %}
        <div>
            <h2>A task is already running</h2>
            <h3>Task started at {{ task_progress.ts_start }}</h3>
            <table class="table">
            <tr>
                <th>Step</th>
                <th>Status</th>
                <th>Time start</th>
                <th>Time end</th>
            </tr>
                {% for step in task_progress.steps %}
                    <tr>
                        <td>{{ step.name }}</td>
                        <td>
                            {% if step.status == 0 %}
                                Not executed yet.
                            {% elif step.status == 1 %}
                                <span style="color: dodgerblue">Executing...</span>
                            {% elif step.status == 2 %}
                                <span style="color: green">Executed.</span>
                            {% endif %}
                        </td>
                    <td>{{ step.ts_start }}</td>
                    <td>{{ step.ts_end }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <form method="post" action="." enctype="multipart/form-data" role="form" class="well well-sm">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"><label for="tipo" class="control-label">Tipo</label></h3>
                </div>
                <div class="panel-body">
                    {{ form.tipo }}
                    {% for error in form.tipo.errors %}
                        <div class="label label-danger">{{ error|escape }}</div>
                    {% endfor %}
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"><label for="file" class="control-label">File</label></h3>
                </div>
                <div class="panel-body">
                    {{ form.file }}
                    {% for error in form.file.errors %}
                        <div class="label label-danger">{{ error|escape }}</div>
                    {% endfor %}
                    <p class="help-block">Il file deve essere una cartella compressa di tipo ZIP</p>
                </div>
            </div>

            {% for error in form.non_field_errors %}
                <div class="label label-danger">{{ error|escape }}</div>
            {% endfor %}
            <button type="submit" class="btn btn-primary" style="width: 100%">Invia</button>
        </form>
    {% endif %}
</div>
</body>
</html>

