{% extends 'base.html' %}
{% load static %}
{% block page_name %}Home Page{% endblock %}
{% block breadcumb_items %}<li class="active">Home</li>{% endblock breadcumb_items %}
{% block main %}


               <div class="col-md-9 col-md-9 col-xs-9 col-sm-9 visible-lg visible-md visible-sm visible-xs">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                 <strong>Anagrafica Stazioni</strong>
                            </div>
                            <div class="panel-body">
                               <a href="{% url 'stazioni_climatiche' %}"><img src="{% static 'img/1.jpg' %}" class=" img-responsive"></a>
                            </div>
                            <div class="panel-footer">
                                <a href="{% url 'stazioni_climatiche' %}">Reti di misura e metodi di rilevamento</a>
                            </div>
                        </div>
                    </div>
                <div class="col-lg-4">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                 <strong>Diagrammi Climatici</strong>
                            </div>
                            <div class="panel-body">
                               <a href="{% url 'diagrammi_climatici_view' %}"><img src="{% static 'img/2.jpg' %}" class=" img-responsive"></a>
                            </div>
                            <div class="panel-footer">
                                <a href="{% url 'diagrammi_climatici_view' %}">Il clima medio delle principali località</a>
                            </div>
                        </div>
                    </div>
                <div class="col-lg-4">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                 <strong>Mappe Climatiche</strong>
                            </div>
                            <div class="panel-body">
                                <a href="{% url 'mappe_climatiche_view' %}"><img src="{% static 'img/3.jpg' %}" class=" img-responsive"></a>
                            </div>
                            <div class="panel-footer">
                                <a href="{% url 'mappe_climatiche_view' %}">Il clima del trentino descritto con mappe georeferenziate</a>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-lg-4">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                 <strong>Valori Estremi</strong>
                            </div>
                            <div class="panel-body">
                                <a href="{% url 'valori_estremi_view' %}"><img src="{% static 'img/acquaalta.jpg' %}" class=" img-responsive"></a>
                            </div>
                            <div class="panel-footer">
                                <a href="{% url 'valori_estremi_view' %}"> I valori record di temperatura e precipitazione</a>
                            </div>
                        </div>
                    </div>
                <div class="col-lg-4">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                 <strong>Trend Climatici</strong>
                            </div>
                            <div class="panel-body">
                                <a href="{% url 'trend_anomalie_view' %}"><img src="{% static 'img/4.jpg' %}" class=" img-responsive"></a>
                            </div>
                            <div class="panel-footer">
                                <a href="{% url 'trend_anomalie_view' %}">L’andamento del clima rispetto al passato</a>
                            </div>
                        </div>
                    </div>
                <div class="col-lg-4">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                 <strong>Indici Climatici</strong>
                            </div>
                            <div class="panel-body">
                                <a href="{% url 'tabelle_indici_view' %}"><img src="{% static 'img/5.jpg' %}" class=" img-responsive"></a>
                            </div>
                            <div class="panel-footer">
                                <a href="{% url 'tabelle_indici_view' %}">Gli indicatori climatici delle principali località</a>
                            </div>
                        </div>
                    </div>
                </div>
               </div>



    <!-- /.container -->
{% endblock main %}