{% extends 'base.html' %}
{% load static %}
{% block page_name %}Home Page{% endblock %}
{% block breadcumb_items %}<li class="active">Home</li>{% endblock breadcumb_items %}
{% block main %}


               <div class="col-md-9 col-md-9 col-xs-9 col-sm-9 visible-lg visible-md visible-sm visible-xs">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                 <strong>prova</strong>
                            </div>
                            <div class="panel-body">
                               prova
                            </div>
                            <div class="panel-footer">
                                Panel Footer
                            </div>
                        </div>
                    </div>
                <div class="col-lg-4">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                 <strong>prova</strong>
                            </div>
                            <div class="panel-body">
                               prova
                            </div>
                            <div class="panel-footer">
                                Panel Footer
                            </div>
                        </div>
                    </div>
                <div class="col-lg-4">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                 <strong>prova</strong>
                            </div>
                            <div class="panel-body">
                               prova
                            </div>
                            <div class="panel-footer">
                                Panel Footer
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-lg-4">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                 <strong>prova</strong>
                            </div>
                            <div class="panel-body">
                               prova
                            </div>
                            <div class="panel-footer">
                                Panel Footer
                            </div>
                        </div>
                    </div>
                <div class="col-lg-4">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                 <strong>prova</strong>
                            </div>
                            <div class="panel-body">
                               prova
                            </div>
                            <div class="panel-footer">
                                Panel Footer
                            </div>
                        </div>
                    </div>
                <div class="col-lg-4">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                 <strong>prova</strong>
                            </div>
                            <div class="panel-body">
                               prova
                            </div>
                            <div class="panel-footer">
                                Panel Footer
                            </div>
                        </div>
                    </div>
                </div>
               </div>



    <!-- /.container -->
{% endblock main %}