{% extends 'base.html' %}
{% load static %}
{% block page_name %}Home Page{% endblock %}
{% block breadcumb_items %}<li class="active">Home</li>{% endblock breadcumb_items %}
{% block main %}


            <div class="col-md-9 col-md-9 col-xs-9 col-sm-9 visible-lg visible-md visible-sm visible-xs">
                <div class="thumbnail">
                    <img class="img-responsive" src="{% static 'img/montagne-trentino.jpg' %}" alt="">
                    <div class="caption-full">
                        <h3>Clima Atlas</h3>
                        <p class="text-justify">
                             Mediante tabelle, diagrammi e mappe viene descritto il clima del Trentino attraverso le
                             principali variabili meteorologiche: temperature e precipitazioni. I dati sono calcolati
                             su trentenni di riferimento: 1961-1990, 1971-2000 e 1981-2010.
                        </p>
                    </div>

                </div>
            </div>


    <!-- /.container -->
{% endblock main %}