{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
      <!-- JavaScript -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <title>{{ SITE_NAME }} | {% block page_name %}{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <!-- Add custom CSS here -->
    <link href="{% static 'css/climatlas.css' %}" rel="stylesheet">
    <link href="{% static 'awesome/css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'weather-icons/css/weather-icons.css' %}" rel="stylesheet">
    {% block extra_head %}{% endblock %}
</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">

                <a class="navbar-brand logo-nav" href="/">
                    <img src="{% static 'img/climalogo.jpg' %}" width="150">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#about">About</a>
                    </li>
                    <li><a href="#services">Services</a>
                    </li>
                    <li><a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">
        <div class="row">
           <ol class="breadcrumb">
              {% block breadcumb_items %}{% endblock breadcumb_items %}
           </ol>
        </div>

        <div class="row">
            {# BO Left Menu watch Admin panel to define menu items #}
            <div class="col-md-3 col-lg-3 col-xs-3 col-sm-3 visible-lg visible-md visible-sm visible-xs">
                {% block menuleft %}
                <div class="list-group">
                    {% load menubuilder %}{% menu leftmenu %}
                    {% for item in menuitems %}
                        <a href="{{ item.url }}" title="{{ item.title|escape }}"{% if item.current %} class="list-group-item active"{% else %}class="list-group-item"{% endif %}>
                            {{ item.title }}
                        </a>
                    {% endfor %}
                </div>
                {% endblock %}
                {% block page_legend %}
                {% endblock page_legend %}
            </div>
            {# EO Left Menu #}
            {% block main %} {% endblock main %}
        </div>

    </div>
    <div class="container">

        <hr>

        <footer>
            <div class="row">
                <div class="col-md-9">
                    <p>
                    <img src="{% static 'img/logo_fbk.JPG' %}" height="50" >
                    <img src="{% static 'img/ProvinciadiTrento.jpg' %}" height="50" >
                    <img src="{% static 'img/logo_pc.jpg' %}" height="40" style="text-align: right">
                    Copyright &copy; 2014 - FBK [Fondazione Bruno Kessler]
                    </p>
                </div>

            </div>
        </footer>

    </div>
    <!-- /.container -->

</body>

</html>

